.idea/*
.pytest_cache/*
.venv/*
/test_results_*.txt
/features/environment.py
/features/occupant_detection.feature
/features/posture_sensor.feature
/features/size_sensor.feature
/features/steps/__init__.py
/tests/test_occupant_detection.py
/tests/test_posture_sensor.py
/tests/test_size_sensor.py
/tests/__init__.py
